.slick-dots {
  bottom: 33%; /* Adjust as needed */
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 10px; /* Adjust as needed */
  width: 10px; /* Adjust as needed */
  height: 10px; /* Adjust as needed */
  border-radius: 50%;
  background-color: transparent; /* Adjust opacity as needed */
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #FE8C00; /* Active dot color */
}

.slide-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.Onboarding-container {
  height: 100%;
  width: 100%;
  background-color: #FE8C00;
}

.onboarding-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the whole container */
}

.onboarding-slider .slide-content {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 4%;
  right: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40%;
  background-color: #FE8C00;
  color: white;
  text-align: center;
  border-radius: 20px; /* Fixed the border-radius value */
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%; /* Adjust height as needed */
  z-index: 10;
}

.onboarding-slider .slide-content h2 {
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 10px;
}

.onboarding-slider .slide-content p {
  font-size: 16px; /* Adjust as needed */
}

.slick-slide {
  height: 100%;
}

.redirection-btn {
  height: 90%;
  display: inline-block;
  border-radius: 50%;
  width: 20%;
  margin-left: 45%;
  margin-top: 20px;
  color: black;
  background-color: azure;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  margin-bottom: 2%;
  margin-top: 30%;
  margin-left: 10px;
  margin-right: 20px;
  padding-right: 20px;
}

/* Styles for the new progress button */
.progress-button {
  width: 94px; /* Set the width as shown in Figma */
  height: 94px; /* Set the height as shown in Figma */
  background-color: white; /* Background color */
  border: 2px solid #fff; /* White border */
  border-radius: 50%; /* Fully rounded button */
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray; /* Text color */
  font-size: 24px; /* Text size */
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
 margin-right: 30%;
 
  transition: background-color 0.3s ease;
}

.progress-button:hover {
  background-color: #e07a00; /* Hover background color */
}
